---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Comments from '../components/Comments.astro';

type Props = CollectionEntry<'blog'>['data'] & { id?: string };

const { title, description, pubDate, updatedDate, heroImage, id } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-none min-h-screen bg-white dark:bg-[#18191a] text-gray-900 dark:text-[#e4e6eb] antialiased transition-colors duration-300">
		<Header />
		<main class="w-full max-w-full m-0">
			<article>
				<div class="w-full">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" class="block mx-auto rounded-xl shadow-lg" />}
				</div>
				<div class="prose dark:prose-invert w-[720px] max-w-[calc(100%-2em)] mx-auto p-4 text-gray-dark dark:text-[#e4e6eb]">
					<div class="mb-4 py-4 text-center leading-none">
						<div class="mb-2 text-gray dark:text-[#b0b3b8]">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="italic">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="mb-2">{title}</h1>
						<hr />
					</div>
					<slot />
					{id && <Comments postId={`md-${id}`} />}
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
